@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    @if (!Request.Browser.IsMobileDevice)
    {
        <section class="title">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h1 style="font-family: 'RockwellCond'">OUR STORY</h1>
                    </div>
                    <div class="span6">
                        <ul class="breadcrumb pull-right">
                            <li><a href="~/">Home</a> <span class="divider">/</span></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <p>&nbsp;</p>
        <p></p>
        <hr />

        <section id="about-us" class="container main">

            <div class="row-fluid">
                <div class="span12">
                    <img src="~/Styles/Rockstar/images/OurStory/Our-story.png" alt="">
                    <img src="~/Styles/Rockstar/images/OurStory/About-us.png" style="padding-left: 120px;" alt="">
                </div>
            </div>
            <hr>

            <!-- Meet the team -->
            <h1 style="font-family: RockwellCond">MEET THE TEAM</h1>

            <hr>

            <div class="row-fluid">

                <div class="span3">
                    <div class="box">
                        <p>
                            <img src="~/Styles/Rockstar/images/AboutUs/Mark-Profile.png" alt="" />
                            @*                        <a class="btn btn-social btn-facebook" href="#">
                            <i class="icon-facebook"></i>
                        </a>
                        <a class="btn btn-social btn-google-plus" href="#">
                            <i class="icon-google-plus"></i>

                        </a>*@
                        </p>
                        <div style="text-align: center">
                            <a class="btn btn-social btn-twitter" href="https://twitter.com/mkryshtalskyj">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="http://www.linkedin.com/profile/view?id=99482145&authType=OUT_OF_NETWORK&authToken=JW-d&locale=en_US&trk=tyah2&trkInfo=tarId%3A1406960769759%2Ctas%3AMark%20%2Cidx%3A2-3-4">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>


                    </div>
                </div>

                <div class="span3">
                    <div class="box">
                        <p>
                            <img src="~/Styles/Rockstar/images/AboutUs/Anastasia-Profile.png" alt="">
                        </p>

                        <div style="text-align: center">
                            <a class="btn btn-social btn-twitter" href="#">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="#">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="span3">
                    <div class="box">
                        <p>
                            <img src="~/Styles/Rockstar/images/AboutUs/Patrick-Profile.png" alt="">
                        </p>
                        <div style="text-align: center">
                            <a class="btn btn-social btn-twitter" href="https://twitter.com/PatrickQueenan">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="#">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="box">
                        <p>
                            <img src="~/Styles/Rockstar/images/AboutUs/Eryn-Profile.png" alt="">
                        </p>
                        <div style="text-align: center">
                            <a class="btn btn-social btn-twitter" href="https://twitter.com/erynstewart14">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="http://www.linkedin.com/profile/view?id=146085188&goback=%2Enpv_146085188_*1_*1_NAME*4SEARCH_lNky_*1_en*4US_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_tyah2_*1 ">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <p>&nbsp;</p>
            <p></p>

            <div class="row-fluid">

                <div class="span3">
                    <div class="box">
                        <p>
                            <img src="~/Styles/Rockstar/images/AboutUs/Priyanca-Profile.png" alt="">
                        </p>
                        <div style="text-align: center">
                            <a class="btn btn-social btn-twitter" href="https://twitter.com/NotChopra ">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="http://www.linkedin.com/profile/view?id=225151735&authType=OUT_OF_NETWORK&authToken=rWdS&locale=en_US&trk=tyah2&trkInfo=tarId%3A1406960800871%2Ctas%3APriyanca%2Cidx%3A1-1-1 ">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="span3">
                    <div class="box">
                        <p>
                            <img src="~/Styles/Rockstar/images/AboutUs/Avista-Profile.png" alt="">
                        </p>
                        <div style="text-align: center">
                            <a class="btn btn-social btn-twitter" href="https://twitter.com/Shour_ma">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="http://www.linkedin.com/profile/view?id=214479279&trk=spm_pic ">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="box">
                        <p>
                            <img src="~/Styles/Rockstar/images/AboutUs/Lahiru-Profile.png" alt="">
                        </p>
                        <div style="text-align: center">
                            <a class="btn btn-social btn-twitter" href="#">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="http://www.linkedin.com/profile/view?id=188368520&authType=OUT_OF_NETWORK&authToken=KK9y&locale=en_US&trk=tyah2&trkInfo=tarId%3A1406960878816%2Ctas%3Alahiru%2Cidx%3A1-1-1">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="box">
                        <p>
                            <img src="~/Styles/Rockstar/images/OurStory/Positions-Available.png" alt="">
                        </p>
                        <div style="text-align: center">
                            @*                        <input type="button" style="background-color: #21A6D8; font-family: 'RockwellCond'; color: white; font-size: large" value="Apply" />*@
                        </div>
                    </div>
                </div>

                <p>&nbsp;</p>
                <p></p>
                <hr>
                <br />


                <div class="row-fluid">
                    <div class="center-gap">

                        <h2 class="center" style="font-family: RockwellCond">SPECIAL THANKS</h2>
                        <div class="center">
                            <p style="font-family: 'SEGOEUIL'; font-size: large">Emma Cai</p>
                            <p style="font-family: 'SEGOEUIL'; font-size: large">Hannah Lee</p>
                            <p style="font-family: 'SEGOEUIL'; font-size: large">Dennis Cheung</p>

                        </div>
                    </div>
                </div>




            </div>
            <p>&nbsp;</p>
            <p></p>
            <hr>
        </section>
    }
    else
    {
        <h3 style="text-align: center">The mobile website is currently under construction, sorry for the inconvenience, 
            If you'd like more information about Rockstar Cafe, please visit our website on a computer/desktop.  
            If you'd like to purchase a ticket to our event, <a href="https://ticketfi.com/event/21/rockstar-cafe-passion-shapes-community">Click here</a>.
        </h3>   
    }

}