@font-face {
    font-family: RockwellCond;
    src: url(../css/RockwellCondensedReg.ttf);
}

@font-face {
    font-family: SEGOEUIL;
    src: url(../css/SEGOEUIL.ttf);
}

@font-face {
    font-family: SegoeUI;
    src: url(../css/segoeui.ttf);
}

@font-face {
    font-family: SilentReaction;
    src: url(../css/SilentReaction.ttf);
}


